.advertising {
    &-group {

        .items {
            display: grid;
            flex-direction: row;
            overflow-x: auto;
            overflow-y: hidden;
            grid-template-columns: repeat(7, 1fr);
            gap: 10px;
        }

        .card-content {
            max-height: 300px;
            overflow-y: scroll;
        }


        
    }

    &-item {
        height: 80px;
        width: 118px;
        box-shadow: none;
        border: 2px solid #343c3d;
        background-color: #282f2f;
        border-radius: .4em;
        overflow: hidden;
        position: relative;

        .label {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: .75rem;
            padding: .25rem;
            background: rgba(0, 0, 0, .4);
            visibility: hidden;
            margin: 0!important;
        }

        .remove {
            position: absolute;
            top: 0;
            right: 0;
            padding: .5rem;
            line-height: .5rem;;
            background: rgba(0, 0, 0, .4);
            visibility: hidden;
        }

        &:hover {
            .label,
            .remove {
                visibility: visible;
            }
        }

        img {
            height: 100%;
        }

        &.is-youtube,
        &.is-video,
        &.is-stats {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    input[type="file"] {
        display: none;
        visibility: hidden;
    }
}